@{
  ViewData["Title"] = "Chefs 'N Dishes";
}
@model List<Chef>

<div class="text-center">
  <div class="container mt-3">
    <h1 class="display-4">Check out our roster of chefs!</h1>
    <table class="table border rounded">
      <thead>
        <tr>
          <th scope="column">Name</th>
          <th scope="column">Age</th>
          <th scope="column"># of Dishes</th>
        </tr>
      </thead>
      <tbody>
        @foreach (Chef chef in Model)
        {
          <tr>
            <td>@chef.FirstName @chef.LastName</td>
            <td>@(DateTime.Today.Year - chef.DateOfBirth.Year)</td>
            <td>@chef.AllDishes.Count</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

